.header img{
    width:100px;
}
.logo img{
    margin-left: 410px; 
     margin-top: 17px; 
    position: absolute;
    top: 0;
}
.header nav{
    background-color: rgba(24, 24, 24, 0.869);
    line-height: 40px;
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}
nav a{
    text-decoration: none;
    color:white;
    font-style: normal;
    margin-right:25px;
    padding: 10px;
    border-radius: 10px;
}
nav a:hover{
    background-color: rgb(241, 115, 115);
}
.title{
    text-align: center;
    color:rgb(25, 25, 145);
    margin: 10px;
}